@using System.Text
@model System.Collections.Generic.List<AirService.WebTest.ViewModels.CustomerViewModel>

<table>
    <tr> 
        <th>Date Created</th>
        <th>ID</th>
        <th>UDID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Authorization Header</th>
    </tr>

@foreach (var item in this.Model)
{
    <tr>
        <td>@item.Customer.CreateDate</td>
        <td>@item.Customer.Id</td>
        <td>@item.Customer.Udid</td>
        <td>@item.Customer.FirstName</td>
        <td>@item.Customer.LastName</td>
        <td>@Convert.ToBase64String(Encoding.UTF8.GetBytes(item.Customer.Udid + ":"))</td>
    </tr>
}
</table>